
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.logo{

    width: 10rem;
    cursor: pointer;
}

header{
    background-color:white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.ppal{
    
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
   
}

.nav-link:hover{

    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.dropdown-item:hover{
    background-color: black;
    color: white;
    border: none;
    
}

footer{
    display: flex;
    align-items: center;
    padding: 7px 10px;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
   
}

.rs{
    display: inline-block;
    padding: 0px 10px;  

}

.productos{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0.2rem;
    text-decoration: none;

}

.carrusel{
    object-fit: cover;
    font-size: 1rem;

}

.card{
    font-family: 'Montserrat', sans-serif;
    padding: 0,1rem;

}

.colorbtn{
    background-color: grey;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    
}

.colorbtn:hover{
    background-color: black;
    border: none;
    border-radius: 10px;
}

.ubicacion{
    
    padding: 50px 50px;
    gap: 40px;
    font-family: 'Montserrat', sans-serif;
   
}

@media(max-width: 500px) {
    
    .ubicacion{
        display: grid;
    }

    .datosUbi{ 
        grid-template-rows: 50% 50%;
        object-fit: cover;
    }
}

.info{
 
    font-family: 'Montserrat', sans-serif;
    text-align: justify;

}

.calus{
   width: 100%;
   height: 100%;
 
}

@media(max-width: 500px) {
    .calus{ 
        display:none}

    .info{
        display: grid;
    }

    .infocalus{ 
        grid-template-columns: 100%;
    }
}

.contacto{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-content: center;
    row-gap: 10px;
  
}

.hijoContacto{
    width: 250px;
}

textarea{
    width: 400px;
}




















