
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.logo{

    height: 25%;
    width: 25%;
    cursor: pointer;
}

header{
    background-color:white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.ppal{
    
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
   
}

.nav-link:hover{

    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.dropdown-item:hover{
    background-color: black;
    color: white;
    border: none;
    
}


footer{
    display: flex;
    align-items: center;
    padding: 7px 10px;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
   
}

.rs{
    display: inline-block;
    padding: 0px 10px;  

}

.productos{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 0.2rem;
    text-decoration: none;

}

.carrusel{
    object-fit: cover;
    font-size: 1rem;

}


.card{
    font-family: 'Montserrat', sans-serif;
    padding: 0,1rem;

}

.colorbtn{
    background-color: grey;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    
    
}

.colorbtn:hover{
    background-color: black;
    border: none;
    border-radius: 10px;
}


   

form{
    display: flex;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    gap: 10px;

}

input{
    width: 400px;
}

.divnombreyapellido{
    padding: 10px 0px;
    position: relative;
  
    
}

.divemail{
    padding: 10px 0px;
    position: relative;
    left: 98px;

}

textarea{
    margin: 10px 0px;
    width: 400px;
    position: relative;
    left: 146px;

}

.boton{
    width: 110px;
}

.divboton{
    position: relative;
    left: 320px;

}

.ubicacion{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 50px;
    gap: 40px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
   
}

.ubi{
    text-align: center;
    position: relative;
    right: 250px;
}

.mapita{
    position: absolute;
    left: 650px;
    bottom: 140px;

}


.info{
     display: flex;
     padding: 20px 20px;
     font-family: 'Montserrat', sans-serif;
     text-align: justify;
     gap: 10px;
     
}

.calus{
    width: 600px;
    height: 600px;
    position: absolute;
    left: 650px;
    top: 270px;
}






