.enConstruccion {

    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

@media(max-width: 500px) {

    .fotoConstruccion {
        width: 80px;
        height: 80px;
      
    }
}
