.enConstruccion {

    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
}

.infoPedido {

    text-align: center;
}

@media(max-width: 600px) {

    .fotoConstruccion {
        display: none;
    }

}
